<!-- Main Content -->

<section>
<div id="home-page" >
    <h1>Who Are We</h1>
    <h2 [@typing] class="typing-text">Get rid of Old Furniture quickly and easily</h2>
    
    <h3 class="white-text"><span class="large-bold-quotes">&ldquo;</span>
        On this site you can share your outdated but 
        still preserved furniture that you want 
        to get rid of and give it to someone in need.
        You determine who bears the shipping costs.
        The site will also have transport services 
        for greater convenience and faster 
        delivery from a donor to a person in need.
    <span class="large-bold-quotes">&rdquo;</span></h3>
    
    
    
</div>
</section>

