

<main id="main-content">
       
  <section id="register-page" class="content auth">
      <form id="register" [formGroup]="form" (ngSubmit)="register()">
          <div class="container">
              <div class="brand-logo"></div>
              <h1>Register</h1>
              <label for="username">Username:</label>
              <input  [class]="
              isFieldTextMissing('username') || isNotMinLength
                ? 'input-error'
                : ''
            "
            type="username" id="username" name="username"
             placeholder="....." formControlName="username">
  
            @if(form.get('username')?.touched){
                <div>
                  @if(form.get('username')?.errors?.['required']){
                  <p class="error">Username is required!</p>
                  }
                  <!--  -->
                  @if(form.get('username')?.errors?.['minlength']){
                  <p class="error">Username must be at least 5 characters!</p>
                  }
                </div>
                }
              <label for="email">Email:</label>
              <input [class]="
              isFieldTextMissing('email') || isEmailNotValid ? 'input-error' : ''
            "
               type="email" id="email" name="email" placeholder="maria@gmail.com"
               formControlName="email">

               @if(form.get('email')?.touched){
                <div>
                  @if(form.get('email')?.errors?.['required']){
                  <p class="error">Email is required!</p>
                  }
                  <!--  -->
                  @if(form.get('email')?.errors?.['emailValidator']){
                  <p class="error">Email is not valid!</p>
                  }
                </div>
                }

                <label for="tel">Phone:</label>
              <input  
            type="text" id="tel" name="tel" placeholder="....." formControlName="tel">
            
  
              <div formGroupName="passGroup">
              <label for="password">Password:</label>
              <input
              [class]="(
              (passGroup?.get('password')?.touched &&
               passGroup?.get('password')?.errors?.['required'] ) ||
               (passGroup?.get('password')?.touched && 
               passGroup?.get('password')?.errors?.['minlength'])
            ) ? 'input-error' : ''"
               type="password" name="password" id="register-password"
               placeholder="********" formControlName="password">
  
               @if(passGroup?.get('password')?.touched){
                <div>
                  @if(passGroup?.get('password')?.errors?.['required']){
                  <p class="error">Password is required!</p>
                  }
                  <!--  -->
                  @if(passGroup?.get('password')?.errors?.['minlength']){
                  <p class="error">Password must be at least 5 characters!</p>
                  }
                </div>
                }

              <label for="rePassword">Confirm Password:</label>
              <input
              [class]="(
              (passGroup?.get('rePassword')?.touched &&
              (passGroup?.get('rePassword')?.errors?.['required'] ||
              passGroup?.errors?.['matchPasswordsValidator'])) 
            ) ? 'input-error' : ''"
               type="password" name="rePassword" id="confirm-password"
               placeholder="*******" formControlName="rePassword">
  
               @if(passGroup?.get('rePassword')?.touched){
                <div>
                  @if(passGroup?.errors?.['matchPasswordsValidator'] ||
                  passGroup?.get('rePassword')?.errors?.['required']){
                  <p class="error">Repeat Password does not match password!</p>
                  }
                </div>
                }
              </div>
              <input 
              [disabled]="form.invalid"
              [style]="{ backgroundColor: form.invalid ? 'red' : '#255' }"
            
            class="btn submit" type="submit" value="Register">
        
              <p class="field">
                  <span>If you already have profile click <a routerLink="/login" style="color: red;">here</a></span>
              </p>
          </div>
      </form>
  </section>

</main>
