
<section id="furniture-details">
    <h1>Details</h1>
    <div class="info-section">
      <div class="furniture-header">
        <!-- Corrected the syntax for image binding -->
        <img class="furnitureImage" src="{{furniture.imageUrl}}" alt="{{furniture.category}}" />
  
       
  
        <!-- Display furniture details -->
        <h1>{{ furniture.category }}</h1>
        <h3>{{ furniture.condition }}</h3>
        <h3>{{ furniture.delivery }}</h3>
        <h3>{{ furniture.location }}</h3>
        <h3>{{ furniture.phone }}</h3>
        <h3>{{ furniture.summary }}</h3>
  
        <!-- Display the created date -->
        <p>
           <time>Date: <time>{{ furniture.created_at }}</time></time>
        </p>
       <!-- Edit/Delete buttons ( Only for creator of this game )  -->
       <div class="buttons">
        <a routerLink="/edit-furniture" class="button">Edit</a>
        <a href="/catalog-furniture" class="button">Delete</a>
    </div>
      </div>
    </div>
  </section>
  










