<section id="create-page" class="auth">
    <form id="create">
        <div class="container">
            <div class="furniture-logo"></div>
            <h1>Add furniture</h1>
            

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" placeholder="Enter  category...">

            <label for="category">Condition:</label>
            <input type="text" id="category" name="condition" placeholder="Enter  condition...">

            <label for="category">Delivery is handled by:</label>
            <input type="text" id="category" name="condition" placeholder="Enter  delivery...">

            <label for="category">Location:</label>
            <input type="text" id="category" name="location" placeholder="Enter  location...">

            <label for="number">Phone Number:</label>
            <input type="tel" id="number" name="phone"  placeholder=".....">

            <label for="imageUrl">Image:</label>
            <input type="text" id="imageUrl" name="imageUrl" placeholder="Upload a photo...">

            <label for="summary">Summary:</label>
            <textarea name="summary" id="summary"></textarea>
            <input class="btn submit" type="submit" value="Create Furniture">
        </div>
    </form>
</section>
