@if (isLoading) {
  <app-loader />
  }@else {
    <h1>All furniture</h1>
<section id="catalog-furniture">
 
  @if (furnitures.length > 0 ) {
  @for (furniture of furnitures; track $index) {
  
  <!-- Display div: with information about every game (if any) -->
  <div class="allFurnits">
      <div class="allFurnits-info">
          <img src={{furniture.imageUrl}}  alt="{{furniture.category}}">
          <h6><a [routerLink]="furniture._id" class="normal"></a></h6>
          <h2>{{furniture.category}}</h2>
          <h2>{{furniture.location}}</h2>
          <h2>{{furniture.condition}}</h2>

          <!-- <a [routerLink]="furniture._id" class="details-button">Details</a> -->
          <a [routerLink]="['/furnitures', furniture._id]" class="details-button">Details</a>


      </div>

  </div>
  
  
  }
  <!---->
}
  <!-- Display paragraph: If there is no games  -->
  @else {
  <h3 class="no-articles">No free furniture yet</h3>
  }
</section>
  }
