

body {
  background-image: url('/slider-img.png');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%; /* Stretch the image to fit both width and height */
  background-repeat: no-repeat;
}



.auth {
  width: 100px;
  margin: 8em auto;
}

header {
  background-color: #777f8d;
  width: 100%;
  overflow: hidden;
  color: white;
}

.home,
.about,
.moto {
  font-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  position: relative;
  padding: 10px;
}

header h1 {
  display: inline-block;
  background-color: #5e636b;
  color: white;
  margin-bottom: auto;
}

header nav {
  font-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  right: 0;
  bottom: 8px;
}

header nav>* {
  float: left;
}



nav a {
  margin: 0 0.5em;
}

nav a:hover {
  cursor: pointer;
  color: black;
  font-weight: bolder;
}

.home:hover {
  color: black;
}

#user,
#guest {
  margin: 0;
  padding: 0;
}



.top-bar {
  background-color: #553232;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

/* Styling for the span inside h1 */
h1 .highlight {
  color: #FF6347; /* Red color for the word "Free" */
  font-size: 40px; /* Slightly larger font size for the "Free" word */
}
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
  line-height: 1.3;
}

h1,
h2,
h4,
h5,
h6 {
  padding: 0.2em 1rem;
}

p,
div {
  margin: 0 1em 0.5em 1em;
}

ol,
ul {
  margin: 0em 1rem;
}

li {
  list-style-position: inside;
}

button {
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  border: 1px solid white;
  border-radius: 0.3em;
  background-color: transparent;
}

a {
  margin: 0.2em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

blockquote {
  font-style: italic;
  margin: 0.5em;
}

blockquote>cite {
  display: block;
  text-align: right;
  margin: 0.5em 2em;
  font-weight: bold;
}
