<main id="main-content">


<section id="catalog-suppliers">
    <h1>All suplier</h1>
    <!-- Display div: with information about every game (if any) -->
    <div class="allSuppliers">
        <div class="allSuppliers-info">
            <img src="/bus.jpg">
            <h6>2t</h6>
            <h2>20lv in hour</h2>
            <a routerLink="/details-supplier" class="details-btn">Details</a>
        </div>

    </div>
    <div class="allSuppliers">
        <div class="allSuppliers-info">
            <img src="/bus.jpg">
            <h6>3t</h6>
            <h2>25lv in hour</h2>
            <a routerLink="/details-supplier" class="details-btn">Details</a>
        </div>

    </div>
    <div class="allSuppliers">
        <div class="allSuppliers-info">
            <img src="/bus.jpg">
            <h6>1,5t</h6>
            <h2>20lv in hour</h2>
            <a routerLink="/details-supplier" class="details-btn">Details</a>
        </div>
    </div>

    <!-- Display paragraph: If there is no games  -->
    <h3 class="no-articles">No supplier yet</h3>
</section>
</main>