<section id="edit-page" class="auth">
    <form id="edit">
        <div class="container">

            <h1>Edit furniture</h1>
            

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" placeholder="Enter  category...">

            <label for="condition">Condition:</label>
            <input type="text" id="condition" name="condition" placeholder="Enter  condition...">

            <label for="delivery">Delivery is handled by:</label>
            <input type="text" id="delivery" name="delivery" placeholder="Enter  delivery...">

            <label for="category">Location:</label>
            <input type="text" id="category" name="location" placeholder="Enter  location...">

            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone"  placeholder=".....">

            <label for="imageUrl">Image:</label>
            <input type="text" id="imageUrl" name="imageUrl" placeholder="Upload a photo...">

            <label for="summary">Summary:</label>
            <textarea name="summary" id="summary"></textarea>
            <input class="btn submit" type="submit" value="Edit Furniture">
            

        </div>
    </form>
</section>
